
*{
	padding: 0;
	margin: 0;
}

body{
	padding: 0;
	margin: 0;
}

[class*="contenedor-"]{
	width: 60%;
	margin: 0 20%;
	display: flex;
	justify-content: space-between;
}

/*-------------------------- nav ------------------------------*/

.second{
	width: 25%;
	padding: 0 5%;
	display: flex;
}

.contenedor-nav .second ul{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

li{
	list-style: none;
}

a{
	padding: 0 10%;
	text-decoration: none;
}

/*-------------------------- header ------------------------------*/
[class*="header-"]{
	width: 50%;
	padding: 7% 0;
}

.header-left{
	padding-right: 5%;
}

.header-right{
	padding-left: 5%;
}


