
*{
	padding: 0;
	margin: 0;
}

body{
	padding: 0;
	margin: 0;
}

[class*="contenedor-"]{
	width: 60%;
	margin: 0 20%;
	display: flex;
	justify-content: space-between;
}

.blanco{
	color: white;
}

.mi-margen{
	margin: 2% 0;
}

.ancho{
	width: 90%;
}

/*-------------------------- nav ------------------------------*/
nav{
	height: 7vh;
}

.second{
	width: 25%;
	padding: 0 5%;
	display: flex;
}

.contenedor-nav{
	padding: 1% 0;
}

.contenedor-nav .second ul{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

li{
	list-style: none;
}

a{
	padding: 0 10%;
	text-decoration: none;
	color: black;
}

/*-------------------------- header ------------------------------*/
[class*="header-"]{
	width: 50%;
	padding: 3% 0;
	margin: 4% 0;
}

.header-left{
	padding-right: 5%;
}

.header-right{
	padding-left: 5%;
}

input{
	padding: 1.5%;
}

button{
	padding: 3% 7%;
}

.ancho-btn{
	width: 94%;
}

/*-------------------------- footer ------------------------------*/
footer{
	padding: 1% 0;
}